/*
* =============================
*   Main Styles Sheet
*
*   1.0 base
*        1.1 normalize.css
*        1.2 main.css
*   2.0 utils
*        2.1 _mixins.styl
*        2.2 _variables.styl
*=============================
*/

/*
* --------
* 1.0 base
* --------
*/

// 1.1  normalize
@import "base/normalize.css"

// 1.2  main
@import "base/main.css"

/*
* ---------
* 2.0 utils
* ---------
*/

// 2.1  _mixins.styl
@import "utils/_mixins.styl"

// 2.1  _variables.styl
@import "utils/_variables.styl"
