{% raw %}
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% endraw %}{{cookiecutter.repo_name}}{% raw %}</title>
        <meta name="description" content={% endraw %}"{{cookiecutter.repo_name}}"{% raw %}>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

      <h1>Page not found</h1>
      <p>Sorry, but the requested page could not be found.</p>

    </body>
</html>
{% endraw %}
