#OSX
.DS_Store
.AppleDouble
.LSOverride

# SublimeText
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# Pycharm
.idea

# Vim
*~
*.swp
*.swo

# npm
node_modules/

# virtual environments
.env

{% if cookiecutter.db_engine == "sqlite" -%}
# sqlite3
{{cookiecutter.repo_root_path}}db.sqlite3
{% endif %}

# python
*.py[cod]
*.pyc
__pycache__

# static files
build

# virtual environments
/.vagrant
